<header>
    <div class="brand-logo">
        <p>Christmas-Jingles</p>
        <div class="hamburger" (click)="toggleClass()">
            <span class="ham-1" [class.active]="toggleMobileNav"></span>
            <span class="ham-2" [class.active]="toggleMobileNav"></span>
            <span class="ham-3" [class.active]="toggleMobileNav"></span>
        </div>
    </div>
    <nav class="desktop-nav">
        <ul>
            <li><a routerLink="home" class="home-link active">
                <span><img src="../../assets/icons/home (copy)yellow.svg" alt=""></span>
                <p>Home</p>
            </a></li>
            <li><a routerLink="lyriconly" class="library-link">
                <span><img src="../../assets/icons/playlist.svg" alt=""></span>
                <p>Library</p>
            </a></li>
            <li><a routerLink="" class="now-playing-link">
                <span><img src="../../assets/icons/musical-note.svg" alt=""></span>
                <p>Now Playing...</p>
            </a></li>
        </ul>
    </nav>
    <div class="search-icon" (click)="toggleSearch()">
        <img src="../../assets/icons/search-thiner.svg" alt="">
        <div class="p">Search</div>
    </div>
</header>
<nav class="mobile-nav" [class.active]="toggleMobileNav">
    <ul>
        <li><a routerLink="home" class="home-link active" (click)="toggleClass()">
            <span><img src="../../assets/icons/home (copy)yellow.svg" alt=""></span>
            <p>Home</p>
        </a></li>
        <li><a routerLink="lyriconly" class="library-link" (click)="toggleClass()">
            <span><img src="../../assets/icons/playlist.svg" alt=""></span>
            <p>Library</p>
        </a></li>
        <li><a routerLink="" class="now-playing-link" (click)="toggleClass()">
            <span><img src="../../assets/icons/musical-note.svg" alt=""></span>
            <p>Now Playing...</p>
        </a></li>
    </ul>
</nav>

<div class="search-section"  [class.active]="toggleSearchBar">
    <div class="search-top">
        <img class="back-arrow" src="../../assets/icons/right-arrow.svg" alt="" (click)="toggleSearch()">
    </div>
    <input type="text" name="" id="" placeholder="Search a carol">
</div>

