.bg-success{
  background: #00873E !important;
  color: #fff !important;
}
/* nav{
  color: #fff !important;
}

.navbar-toggler, .navbar-toggler-icon{
  border-color: #fff;
}
.navbar-toggler-icon{
  color: #ffffff;

} */
