/* app-header{} */
.container-fluid{
  background: linear-gradient(rgba(0, 0, 0, 0.681), rgba(0, 0, 0, 0.686)), url('../assets/images/snowman-1882635_1920.jpg');
  background-size: cover;
  padding: 20px;
  /* height: 91vh; */
}

.container{
  /* display: flex; */
  padding: 150px 0 100px 0;
  /* background-color: red; */
}
.col-sm{
  margin: 20px 10px;
  background-color: #fff;
  padding: 100px;
  text-align: center;
  border-radius: 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


