app-header{
  height: 5vh;
}
.container-fluid{
  background: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.786)), url('../assets/images/decorating-christmas-tree-2999722_1280.jpg');
  background-size: cover;
  height: 91vh;
}

.container{
  /* display: flex; */
  padding: 150px 0 100px 0;
  background-color: red;
}

app-lyric-only, app-youtube-and-lyric, app-youtubeonly{
  /* padding: 150px; */
  /* background-color: #fff; */

  }
app-youtube-and-lyric{
  background: #000;
}
app-youtubeonly{
  background: #222eee;
}
