<div class="stack-1">
    <h3>Just for you</h3>
    <div class="stack">
      <div class="song-card">
        
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-04.jpg);">
          <div class="row">
            <div class="col" *ngFor="let item of collection">
              <iframe [src]="getembedUrl(item.id.videoId)" frameborder ="0" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-08.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/gettyimages-996154296-612x612.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-10.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-12.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-15.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
    </div>
  </div>
