<div class="all">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="container my-4">
          <hr class="my-4">

          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
              <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                  class="fa fa-chevron-left"></i></a>
              <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                  class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <!-- <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol> -->
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <h1>Top Lyrics</h1>

              <!--First slide-->
              <div class="carousel-item active">
                <div class="row" *ngFor = 'let item of collection'>
                  
                  <button class="btn btn-success">{{item.title}}</button>
                  <!-- <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button> -->
                </div>

              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <!-- <div class="carousel-item">
                <div class="row">
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                </div>
              </div> -->
              <!--/.Second slide-->

              <!--Third slide-->
              <!-- <div class="carousel-item">

                <div class="row">
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                  <button class="btn btn-success">Silent Night</button>
                </div>

              </div> -->
              <!--/.Third slide-->

            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->


        </div>
      </div>
      <div class="col-lg-8">
        <!-- <p>{{collection[0].text}}</p> -->
                <p>{{collection}}</p>

      </div>
    </div>
  </div>

</div>
