.container-fluid {
  background-color: #ffffff !important;
  margin-top: 100px;
  margin-bottom: 180px;
}
.button {
  margin-top: 5px;
  padding: 0 10px !important;
  text-align: center;
  border: none;
  font-size: 18px;
  text-transform: capitalize;
}
.row1{
  -webkit-box-shadow: 0px 6px 25px -13px rgba(219,219,219,1);
  -moz-box-shadow: 0px 6px 25px -13px rgba(219,219,219,1);
  box-shadow: 0px 6px 25px -13px rgba(219,219,219,1);
  margin-top: 10px;
  transition-duration: 0.7s;
  cursor: pointer;
}
.author1{
  font-size: 12px;
  padding: 0 10px !important;
  /* color: #00873E; */
  font-style: italic;
}
.row1:hover{
  background-color: #00873E;
  color: #fff;
  border-radius: 2px;
  transition-duration: 0.7s;
}
.clicker {
  display: flex;
  align-items: center;
}
.clicker{
  width: 100%;
}
.clicker img {
  width: 80%;
  margin-top: 10px;
}

.author1:hover{
  /* color: #D6001C; */
}
.top-lyric{
  margin-top: 50px;
  color: #00873E;
  font-size: 58px;
  padding: 50px;
}
.second{
  padding: 30px;
}