.container-fluid {
  background-color: #ffffff !important;
  margin-top: 100px;
  margin-bottom: 180px;
}
.container{
  /* background-color: rgba(255, 176, 159, 0.933) !important; */

}
.button {
  margin-top: 5px;
  padding: 0 10px !important;
  text-align: center;
  /* border-radius: 10px; */
  background-color: #fff;
  color: rgb(2, 7, 57);
  border: none;
  font-size: 18px;
  text-transform: capitalize;
}

.row1{
  -webkit-box-shadow: 0px 6px 25px -13px rgba(219,219,219,1);
  -moz-box-shadow: 0px 6px 25px -13px rgba(219,219,219,1);
  box-shadow: 0px 6px 25px -13px rgba(219,219,219,1);
  margin-top: 10px;

}
.clicker {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}
.clicker{
  /* background: rgb(138, 42, 42); */
  width: 100%;
  /* margin-top: 20px; */
}
.clicker img {
  width: 100%;
  /* background-color: aquamarine; */
  margin-top: 10px;
}
.author1{
  font-size: 12px;
  padding: 0 10px !important;
  /* margin-left: 200px; */

}
.col-lg-6:nth-child(1) {
  /* background-color: aquamarine; */
}
.top-lyric{
  margin-top: 50px;
  color: #00873E;
  font-size: 58px;
  padding: 50px;


}
.second{
  padding: 30px;
}