<!-- <div class="container" *ngFor = 'let item of collection'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea velit sint deserunt consectetur sit enim beatae sed, cupiditate dicta, delectus, blanditiis excepturi ad earum in! Dolor quibusdam nobis nulla magni!</p>
    <p>{{item.title}}</p>




</div> -->

<!-- <div class="container" *ngFor = 'let item of collection'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda quae, quod natus quo libero ut placeat
        quia veniam cumque omnis nobis aliquam provident necessitatibus animi alias saepe, culpa tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda quae, quod natus quo libero ut placeat
        quia veniam cumque omnis nobis aliquam provident necessitatibus animi alias saepe, culpa tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda quae, quod natus quo libero ut placeat
        quia veniam cumque omnis nobis aliquam provident necessitatibus animi alias saepe, culpa tempore.</p>
    <p>{{collection}}</p>
</div> -->