<main>
  <div class="home-hero">
    <div class="home-hero-overlay">
      <div class="preview-song" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-03.jpg);"></div>
      <div class="preview-song-title">
        <h1>Jingle Bells</h1>
        <p class="song-author">Unknown Author</p>
      </div>
    </div>
  </div>

  <div class="stack-1">
    <h3>Just for you</h3>
    <div class="stack">
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-04.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-08.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/gettyimages-996154296-612x612.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-10.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-12.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-15.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
    </div>
  </div>

  <div class="stack-2">
    <h3>Top Carols</h3>
    <div class="flex-stack">
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-24.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/snowman-1882635_1920.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-30.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-37.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-38.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-41.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-48.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-49.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/decorating-christmas-tree-2999722_1280.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/wallpaper.png);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-04.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
      <div class="song-card">
        <div class="song-img" style="background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-04.jpg);"></div>
        <div class="song-info">
          <div class="song-name">
            <div class="song-title">This is song title</div>
            <div class="song-author">Unknown Author</div>
          </div>
          <div class="song-duration">03:24</div>
        </div>
      </div>
    </div>
  </div>
</main>