<!-- <app-header></app-header> -->
<div class="container-fluid">
  <div class="container heading text-center text-white">
    <h1>Merry Christmas to you!</h1>
    <p>Please select your category</p>
    <div class="row">
      <div class="col-sm">
        <div class="btn btn-success text-center" routerLink = '/lyriconly'>Lyrics only</div>
      </div>
      <div class="col-sm">
        <div class="btn btn-success text-center" routerLink = '/lyricandvideo'>Lyrics and Video</div>
      </div>
      <div class="col-sm">
        <div class="btn btn-success text-center" routerLink = '/videoonly'>Videos only</div>
      </div>
    </div>
  </div>
</div>
