main {
  width: 60vw;
  height: auto;
  /* background-color: red; */
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}
.home-hero {
  width: 100%;
  height: 65vh;
  background: url(../../assets/images/high-resolution-christmas-desktop-wallpaper-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 2rem;
}
.home-hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(73, 13, 153, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(42, 42, 44, 0.274); */
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: grid;
  align-items: center;
}
.preview-song {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.preview-song-title h1 {
  font-size: 40px;
}
.preview-song-title {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  background: linear-gradient(90deg, #fec9579a, transparent);
  width: 50%;
  border-bottom-left-radius: 15px;
  color: #fff;
  padding-top: 1rem;
  padding-left: 2rem;
}
h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 1rem;
}
.stack-1 {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}
.stack {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: scroll;
}
.flex-stack {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* flex-flow: row; */
}
.flex-stack .song-card {
  margin-bottom: 1.6rem;
}

/* styling the song card */
.song-card {
  max-width: 260px;
  min-width: 260px;
  max-height: 340px;
  min-height: 340px;
  /* background-color: green; */
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  transition-duration: .3s;
  /* padding: .5rem; */
}
.song-card:hover {
  background-color: rgba(255, 255, 255, 0.102);
  transition-duration: .3s;
}
.song-img {
  max-width: 260px;
  min-width: 260px;
  max-height: 260px;
  min-height: 260px;
  border-radius: 15px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transform: scale(.95);
}
.song-info {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 1rem .5rem .5rem .5rem;
}
.song-info .song-title {
  color: #fff;
  font-size: 1.4rem;
}
.song-info .song-author {
  color: #8395a7;
}
.song-info .song-duration {
  color: #feca57;
  padding-right: 1rem;
}




@media screen and (max-width: 1024px) {
  main {
    width: 90vw;
    padding-top: 80px;
  }
  .preview-song-title {
    width: 80%;
  }

}

@media screen and (max-width: 764px) {
  .preview-song {
    width: 70%;
    height: 55%;
    margin: 0 auto;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .song-card {
    max-width: 200px;
    min-width: 200px;
    max-height: 300px;
    min-height: 300px;
  }
  .song-img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
  }
  .song-info .song-title {
    color: #fff;
    font-size: 1.2rem;
  }
  .song-info .song-duration {
    color: #feca57;
    padding-right: .6rem;
    font-size: .8rem;
  }

}

/* scrollbar ******************************* */

.stack::-webkit-scrollbar {
    height: .6em;
    border-radius: 15px;
}
.stack::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.stack::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.102);
  border-radius: 15px;
  transition-duration: .3s;
}
.stack::-webkit-scrollbar-thumb:hover {
  background-color: #feca57;
  transition-duration: .3s;
}

/* end scrollbar ******************************* */